# Виртуальное окружение
.venv/
venv/

# Папки с байт-кодом Python
__pycache__/
*.py[cod]
*$py.class

# Файлы баз данных
*.db
*.sqlite3

# Файлы с переменными окружения (секреты)
.env

# Локальные копии серверов и другие временные файлы
nginx-*/
*.log

# Операционная система
.DS_Store
Thumbs.db